:root {
    --light-color: white;
    --dark-color: black;
    --mid-color: #999999;
    --hover-color: #666666;
}

body {
    margin: 0;
    font-family: montserrat, serif;
    font-size: 20px;
}

a:hover {
    /* color: #b75a49;  */
    /* color: var(--hover-color);  */
}

.color-dark {
    color: var(--dark-color);
}

.color-light {
    color: var(--light-color);
}

.text-align-center {
    text-align: center;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }
}