.product {
  background-color: #faf3f1;
  border-radius: 5px;
  padding: 1rem;
}

.product-title {
  margin-top: 0;
}

.product-description {
  margin-bottom: 0;
}

.products {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}